.main-thr-content{
  display: inline-block;
  width:100%;
  position: relative;
  height:40%;
  .thr-title{
    margin-top:5%;
    text-align: center;
    .straight{
      color: white;
    }
    .my-collect{
      padding: 0px 5%;
      color: #ececec;
    }
  }

 /* height:70%;*/
}
/*响应式*/
@media (min-width: 720px) {

}

@media (min-width: 1080px) {

}

@media (min-width: 1366px) {

}

@media (min-width: 1680px) {

}

@media (min-width: 1920px) {

}
