.main-thr-content{
  display: inline-block;
  width:100%;
  position: relative;
  .thr-title{
    margin-top:3%;
    text-align: center;
   /* margin-bottom:5%;*/
    .straight{
      position: relative;
      top:-10px;
      color: white;
    }
    .my-collect{
      padding: 0px 5%;
      color: #ececec;
    }
  }
  .news-content-div{
    padding-top:3%;
    padding-bottom:20px;
    cursor: default;
    .arrow{
      background: rgba(255,255,255,0.1);
      position: absolute;
      z-index: 10;
      top: 58%;
      width: 50px;
      padding-top:5px;
      padding-bottom:5px;
      height: 65px;
      background-image: url(http://ns2.bdstatic.com/static/fisp_static/focustop/img/carousel/icon-carousel_8fef694.png)\9;
      background-repeat: no-repeat;
    }
    .icon-wrap {
      position: relative;
      display: block;
      width: 80%;
      height: 80%;
      margin: 10% 0 0 10%;
    }

    .arrow-right{
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .icon-wrap::before,
    .icon-wrap::after {
      content: " ";
      position: absolute;
      left: 25%;
      width: 3px;
      height: 50%;
      background: #fff;
      -webkit-transition: -webkit-transform .3s, background-color .3s;
      transition: transform .3s, background-color .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    .icon-wrap::before {
      -webkit-transform: translateX(-50%) rotate(30deg);
      transform: translateX(-50%) rotate(30deg);
      -webkit-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }

    .icon-wrap::after {
      top: 50%;
      -webkit-transform: translateX(-50%) rotate(-30deg);
      transform: translateX(-50%) rotate(-30deg);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }

    .arrow:hover::before {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1)
    }

    .arrow:hover .icon-wrap::before,
    .arrow:hover .icon-wrap::after {
      background: #c00
    }

    .arrow:hover .icon-wrap::before {
      -webkit-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg)
    }

    .arrow:hover .icon-wrap::after {
      -webkit-transform: translateX(-50%) rotate(-45deg);
      transform: translateX(-50%) rotate(-45deg)
    }
    #imgplayer-next{
      right:0;
    }
  }

  /*响应式*/
  @media (min-width: 720px) {
    .news-content-div{
      height:250px;
      .arrow {
        top: 55%;
      }
    }
  }

  @media (min-width: 1080px) {
    .news-content-div{
      height:290px;
      .arrow {
        top: 55%;
      }
    }
  }

  @media (min-width: 1366px) {
    .news-content-div{
      height:360px;
      .arrow {
        top: 42%;
      }
    }
  }

  @media (min-width: 1680px) {
    .news-content-div{
      height:420px;
      .arrow {
        top: 49%;
      }
    }
  }

  @media (min-width: 1920px) {
    .news-content-div{
      height:480px;
      .arrow {
        top: 55%;
      }
    }

  }
}

