.news-content{
  position: relative;
  width:500px;
  margin:0 auto;
  .swiper-pagination-clickable{
    cursor: default;
  }
  .swiper-content{
    .swiper-pagination{
      position: relative;
      bottom:0px;
    }
    .news-card{
      box-shadow: 2px 0px 2px rgba(0,0,0,0.2);
      overflow: hidden;
      height:152px;
      width:153px!important;
      cursor: default;
      .news-top-content,.news-below-content{
        position: relative;
        cursor: pointer;
        box-shadow: 9px 1px 2px rgba(0,0,0,0.2);
      }
      .icon-yanjing1{
        font-size:600%;
        color: white;
      }
      .news-below-content{
        padding:3px 0px 3px 5px;
        margin-top:-5px;
        background: #f9f9f8;
        display: flex;
        .left-content,.right-content{
          width:50%;
        }
        .news-left-content{
          padding-left:1%;
          position: relative;
          flex:1 1 60%;
        }
        .news-time{
          padding-top:5px;
          color: #dbdcdb;
        }
        .news-name{
            color: rgba(0,0,0,0.6);
        }
      }
      .news-top-img{
        width: 150px;
        height: 120px;
      }
      .right-collect-content{
        text-align: right;
        padding-right:5px;
        .nocollect{
           color:#e9e9e9;
        }
        .collect{
          color: #efdfcf;
          cursor: pointer;
        }
        .news-collect-count{
          text-align:center;
          padding-top:5px;
          color: #e6dacf;
        }
      }
    }
  }
  .mypagination{
    width: 20px;
    height:4px;
    background: #ececec;
    border-radius: 0px;
  }
  /*响应式*/
  @media (min-width: 720px) {
    width: 500px;
    .swiper-content {
      .news-card {
        height: 152px;
        width: 153px!important;
        .news-top-img {
          width: 153px;
          height: 103px;
        }
        .news-below-content{
          padding:3px 0px 3px 5px;
        }
        .right-collect-content{
          .news-collect-count{
            padding-top:0px;
          }
        }
      }
    }
  }

  @media (min-width: 1080px) {
    width: 600px;
    .swiper-content {
      .news-card {
        height: 169px;
        width: 180px!important;
        .news-top-img {
          width: 180px;
          height: 120px;
        }
        .news-below-content{
          padding:3px 0px 3px 5px;
        }
        .right-collect-content{
          .news-collect-count{
            padding-top:0px;
          }
        }
      }
    }
  }

  @media (min-width: 1366px) {
    width: 800px;
    .swiper-content {
      .news-card {
        height: 224px;
        width: 253px!important;
        .news-top-img {
          width: 253px;
          height: 170px;
        }
        .news-below-content{
            padding:3px 0px 3px 5px;
        }
        .right-collect-content{
          .news-collect-count{
            padding-top:5px;
          }
        }
      }
    }
  }

  @media (min-width: 1680px) {
    width: 1000px;
    .swiper-content {
      .news-card {
        height: 280px;
        width: 320px!important;
        .news-top-img {
          width: 320px;
          height: 210px;
        }
        .news-below-content{
          padding:10px 0px 10px 5px;
        }
        .right-collect-content{
          .news-collect-count{
            padding-top:5px;
          }
        }
      }
    }
  }

  @media (min-width: 1920px) {
    width: 1200px;
    .swiper-content {
      .news-card {
        height: 340px;
        width: 386px!important;
        .news-top-img {
          width: 386px;
          height: 260px;
        }
        .news-below-content{
          padding:10px 0px 10px 5px;
        }
        .right-collect-content{
          .news-collect-count{
            padding-top:5px;
          }
        }
      }
    }
  }
}


