html,body,#app{
    position: relative;
    width:100%;
    height:100%;
    font-family:sans-serif;
}
.fullScreenClass{
  position: relative;
  width:100%;
  height:100%;
}

.background-img{
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.animateClass-child>*{
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}
.animateClass6{
  -webkit-transition: all .6s ease-in-out 0s;
  -moz-transition: all .6s ease-in-out 0s;
  -ms-transition: all .6s ease-in-out 0s;
  -o-transition: all .6s ease-in-out 0s;
  transition: all .6s ease-in-out 0s;
}


.animateClass{
  -webkit-transition: all .3s ease-in-out 0s;
  -moz-transition: all .3s ease-in-out 0s;
  -ms-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}


.animateClass1{
  -webkit-transition: all .2s ease-in-out 0s;
  -moz-transition: all .2s ease-in-out 0s;
  -ms-transition: all .2s ease-in-out 0s;
  -o-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
}
.font-size-maintitle{
  font-size:30px;
}
.font-size-top{
  font-size:20px;
}
.font-size-title{
  font-size:16px;
}
.font-size-body{
  font-size:12px;
}
.font-size-sup{
  font-size:8px;
}
.font-size-minsup{
  font-size:4px;
}
.news-hover-bg{
  top:-100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height:100%;
  width:100%;
  background: rgba(0,0,0,0.7);
}
.font-size-title-icon{
  font-size: 27px;
  line-height:70px;
  color: #f9f9f9;
  padding: 0px 15px 0 15px;
}

.main-icon:hover{
  background: rgba(255,255,255,0.3);
  cursor: pointer;
}
/*响应式*/
@media (min-width:720px) {
  .font-size-maintitle{
    font-size:30px;
  }
  .font-size-top{
    font-size:20px;
  }
  .font-size-title{
    font-size:16px;
  }
  .font-size-body{
    font-size:12px;
  }
  .font-size-sup{
    font-size:8px;
  }
  .font-size-minsup{
    font-size:4px;
  }
  .title-li{
    padding-left:3px;
    padding-right:3px;
  }
  .font-size-title-icon {
    font-size: 23px;
    padding: 0px 20px 0 20px;
  }
}

@media (min-width:1080px) {
  .font-size-maintitle{
    font-size:33px;
  }
  .font-size-top{
    font-size:23px;
  }
  .font-size-title{
    font-size:19px;
  }
  .font-size-body{
    font-size:15px;
  }
  .font-size-sup{
    font-size:11px;
  }
  .font-size-minsup{
    font-size:7px;
  }
  .title-li{
    padding-left:13px;
    padding-right:13px;
  }
  .font-size-title-icon {
    font-size: 26px;
    line-height: 70px;
    padding: 0px 25px 0 25px;
  }
}

@media (min-width:1366px) {
  .font-size-maintitle{
    font-size:35px;
  }
  .font-size-top{
    font-size:24px;
  }
  .font-size-title{
    font-size:20px;
  }
  .font-size-body{
    font-size:16px;
  }
  .font-size-sup{
    font-size:12px;
  }
  .font-size-minsup{
    font-size:8px;
  }
  .title-li{
    padding-left:12px;
    padding-right:12px;
  }
  .font-size-title-icon {
    font-size: 27px;
    line-height: 80px;
    padding: 0px 30px 0 30px;
  }
}


@media (min-width:1680px) {
  .font-size-maintitle{
    font-size:43px;
  }
  .font-size-top{
    font-size:29px;
  }
  .font-size-title{
    font-size:25px;
  }
  .font-size-body{
    font-size:21px;
  }
  .font-size-sup{
    font-size:17px;
  }
  .font-size-minsup{
    font-size:13px;
  }
  .font-size-title-icon {
    font-size: 30px;
    line-height: 90px;
    padding: 0px 35px 0 35px;
  }
}




@media (min-width:1920px) {
  .font-size-maintitle{
    font-size:50px;
  }
  .font-size-top{
    font-size:32px;
  }
  .font-size-title{
    font-size:28px;
  }
  .font-size-body{
    font-size:24px;
  }
  .font-size-sup{
    font-size:20px;
  }
  .font-size-minsup{
    font-size:16px;
  }
  .font-size-title-icon {
    font-size: 32px;
    line-height: 100px;
    padding: 0px 40px 0 40px;
  }
}
