#app.canhidden{
  overflow: hidden;
}
#header{
  z-index:1;
  position: absolute;
  top:0px;
  height:70px;
  display: flex;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  width:100%;
  .loginBtn {
    padding-right:15px;
    .icon-xiaoren{
      padding-right:0px!important;
    }
    .header-login{
      color: #ececec;
      position: relative;
      top:-5px;
    }
  }
  .loginBtn:hover{
    background: rgba(255,255,255,0.3);
    cursor: pointer;
  }
  .iconfont{
    cursor: pointer;
  }
  .half-title{
    width:50%;
  }
  .title-left{
    display: flex;
    justify-content: flex-end;
  }
  .title-right{
    position: relative;
    display: flex;
    justify-content: center;
  }

  .title-icon{
   /* background: url("./assets/logo.png") 100% bottom;
    -webkit-background-size:cover;
    background-size:cover;*/
    width:38%;
    margin-top:12px;
    margin-right:2%;
    height:39px;
  }
  .title-ul{
    display: flex;
    .title-li{
      line-height: 70px;
      /*font-family: "微软雅黑";*/
      padding-left:15px;
      padding-right:15px;
      color: #f9f9f9;
    }
    .title-li:hover{
      background: rgba(255,255,255,0.3);
      cursor: pointer;
    }
  }
}
.main-footer{
  z-index:1;
  position: relative;
/*  width:100%;*/
  background: #212223;
  padding:10px 15px;
  display: flex;
  .footer-left-content{
    flex:1 1 70%;
  }
  .footer-right-content{
    flex:1 1 30%;
  }
  .chi-left-content{
    margin:0 auto;
    width:60%;
  }
  .main-footer-logo{
    padding:5% 0px;
  }
  .alienlab-info,.alienlab-reference{
    color: rgba(255,255,255,0.4);
    line-height: 27px;
  }
  .alienlab-reference{
    padding-top:7%;
    .alienlab-reference-sec{
      margin-top:1%;
    }
  }
  .footer-right-content{
    display: flex;
    .about-right{
      margin-left:10%;
     /* width:30%;*/
    }
    .about-title{
      color: #ececec;
      margin-top:50%;
    }
    .about-body{
      margin-top:40%;
      color: rgba(255,255,255,0.4);
    }
  }
}
/*响应式*/
@media (min-width:720px) {
  #header {
    .title-ul {
      .title-li {
        padding-left: 3px;
        padding-right: 3px;
      }
    }
    .title-icon {
      width: 183px;
    }
    .loginBtn{
      padding-right:20px;
    }
  }
  .main-footer{
    .alienlab-info,.alienlab-reference{
      line-height: 15px;
    }
  }

}

@media (min-width:1080px) {
  #header {
    height: 70px;
    .title-ul {
      .title-li {
        padding-left: 13px;
        padding-right: 13px;
        line-height: 70px;
      }
    }
    .title-icon {
      margin-top: 16px;
    }
    .loginBtn{
      padding-right:25px;
    }
  }
  .main-footer{
    .alienlab-info,.alienlab-reference{
      line-height: 18px;
    }
  }

}

@media (min-width:1366px) {
  #header {
    height: 80px;
    .title-ul {
      .title-li {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 80px;
      }
    }
    .title-icon {
      margin-top: 21px;
    }
    .loginBtn{
      padding-right:30px;
    }
  }
  .main-footer{
    .alienlab-info,.alienlab-reference{
      line-height: 21px;
    }
  }
}


@media (min-width:1680px) {
  #header {
    height: 90px;
    .title-ul {
      .title-li {
        padding-left: 15px;
        padding-right: 15px;
        line-height: 90px;
      }
    }
    .title-icon {
      margin-top: 26px;
    }
    .loginBtn{
      padding-right:35px;
    }
  }
  .main-footer{
    .alienlab-info,.alienlab-reference{
      line-height: 24px;
    }
  }
}




@media (min-width:1920px) {
  #header {
      height: 100px;
      .title-ul {
        .title-li {
          padding-left: 15px;
          padding-right: 15px;
          line-height: 100px;
        }
      }
      .title-icon {
        margin-top: 31px;
      }
    .loginBtn{
      padding-right:40px;
    }
  }
  .main-footer{
    .alienlab-info,.alienlab-reference{
      line-height: 27px;
    }
  }
}
