#header{
  z-index:1;
  position: absolute;
  height:70px;
  display: flex;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  width:100%;
  .iconfont{
    cursor: pointer;
  }
  .half-title{
    width:50%;
  }
  .title-left{
    display: flex;
    justify-content: flex-end;
  }
  .title-right{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .font-size-title-icon{
    font-size: 27px;
    line-height:70px;
    color: #f9f9f9;
    padding: 0px 15px 0 15px;
  }
  .title-icon{
    background: url("./assets/logo.png") 100% bottom;
    -webkit-background-size:cover;
    background-size:cover;
    width:38%;
    margin-top:12px;
    margin-right:2%;
    height:39px;
  }
  .title-ul{
    display: flex;
    .title-li{
      line-height: 70px;
      /*font-family: "微软雅黑";*/
      padding-left:15px;
      padding-right:15px;
      color: #f9f9f9;
    }
    .title-li:hover{
      background: rgba(255,255,255,0.3);
      cursor: pointer;
    }
  }

  .main-icon:hover{
    background: rgba(255,255,255,0.3);
    cursor: pointer;
  }

  /*响应式*/
  @media (min-width:720px) {
    .title-ul{
      .title-li{
        padding-left:3px;
        padding-right:3px;
      }
    }
    .title-icon{
      width: 183px;
    }
    .font-size-title-icon{
      font-size:23px;
    }
    .font-size-title-icon{
      padding: 0px 20px 0 20px;
    }

  }

  @media (min-width:850px) {
    .title-icon{
    }

  }

  @media (min-width:1080px) {
    height:70px;
    .title-ul{
      .title-li{
        padding-left:13px;
        padding-right:13px;
        line-height:70px;
      }
    }
    .title-icon{
      margin-top:16px;
    }
    .font-size-title-icon{
      font-size:26px;
      line-height:70px;
    }
    .font-size-title-icon{
      padding: 0px 25px 0 25px;
    }
  }

  @media (min-width:1366px) {
    height:80px;
    .title-ul{
      .title-li{
        padding-left:15px;
        padding-right:15px;
        line-height:80px;
      }
    }
    .title-icon{
      margin-top:21px;
    }
    .font-size-title-icon{
      font-size:27px;
      line-height:80px;
    }
    .font-size-title-icon{
      padding: 0px 30px 0 30px;
    }
  }


  @media (min-width:1680px) {
    height:90px;
    .title-ul{
      .title-li{
        padding-left:15px;
        padding-right:15px;
        line-height:90px;
      }
    }
    .title-icon{
      margin-top:26px;
    }
    .font-size-title-icon{
      font-size:30px;
      line-height:90px;
    }
    .font-size-title-icon{
      padding: 0px 35px 0 35px;
    }
  }




  @media (min-width:1920px) {
    height:100px;
    .title-ul{
      .title-li{
        padding-left:15px;
        padding-right:15px;
        line-height:100px;
      }
    }
    .title-icon{
      margin-top:31px;
    }
    .font-size-title-icon{
      font-size:32px;
      line-height:100px;
    }
    .font-size-title-icon{
      padding: 0px 40px 0 40px;
    }
  }
}
