.top-news-content{
  position: relative;
  left:100%;
  top:0;
  width:100%;
  .btnDiv{
    width:100%;
    text-align: center;
  }
  .moreinfoBtn{
    color: white;
    border-color:white;
  }
  .moreinfoBtn:focus{
    box-shadow: 0px 0px 0px white;
    border-color:white;
  }
  .moreinfoBtn:hover{
    box-shadow: 0px 0px 0px white;
    border-color:#ececec;
  }
  .press-content{
    display: flex;
    flex-wrap: wrap;
    .press-content-datail{
      margin-bottom:3%;
      display: flex;
      width: 153px;
      .display.img img{
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        width: 150px;
        height:120px;
      }
      .display.font{
        position: relative;
        padding:5px 10px;
        padding-top:0px;
        a{
          color: #2d2d2d;
        }
        .detailinfo{
          position: absolute;
          bottom:0px;
        }
      }
    }
  }

  /*响应式*/
  @media (min-width: 720px) {
    .press-content{
      .press-content-datail{
        width: 166px;
        .display.img img{
          width: 90px;
          height:72px;
        }
        .display.font .detailinfo{
          position: static;
        }
      }

    }
  }

  @media (min-width: 1080px) {
    .press-content{
      .press-content-datail{
        width: 200px;
        .display.img img{
          width: 100px;
          height:90px;
        }
        .display.font .detailinfo{
          position: static;
        }
      }
    }
  }

  @media (min-width: 1366px) {
    .press-content{
      .press-content-datail{
        width: 253px;
        .display.img img{
          width: 120px;
          height:103px;
        }
        .display.font .detailinfo{
          position: absolute;
        }
      }
    }
  }

  @media (min-width: 1680px) {
    .press-content{
      .press-content-datail{
        width: 320px;
        .display.img img{
          width: 140px;
          height:113px;
        }
        .display.font .detailinfo{
          position: absolute;
        }
      }
    }
  }

  @media (min-width: 1920px) {
    .press-content{
      .press-content-datail{
        width: 386px;
        .display.img img{
          width: 150px;
          height:120px;
        }
        .display.font .detailinfo{
          position: absolute;
        }
      }
    }
  }

}
